<nav class="navbar navbar-static-top navbar-inverse" >
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/gregorl/anaximander">
        <span class="glyphicon glyphicon-home"></span>&nbsp;Anaximander
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#">Maps</a></li>
        <li><a ng-href="#">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

          <li ng-if="!app.user"><a ng-click='app.signIn()' >Sign in</a></li>
          <li ng-if="app.user">
              <img style="height: 50px; display: inline;" ng-src="{{ app.user.picture.data.url }}" class="img-circle img-responsive" /> 
              <span>{{ app.user.name }}</span>
          </li>
      </ul>
    </div>
  </div>
</nav>
{{ app.user | json }}
